@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        $("#F_Account").val($.request('account'));
        $("#F_RealName").val($.request('realName'));
    });
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        var postData = $("#form1").formSerialize();
        postData["userPassword"] = $("#F_UserPassword").val();
        postData["keyValue"] = keyValue;
        $.submitForm({
            url: "/SystemManage/User/SubmitRevisePassword",
            param: postData,
            success: function () {
                $.loading(false)
            }
        })
    }
</script>
<form id="form1">
    <div style="padding-top: 30px; margin-right: 40px;">
        <table class="form">
            <tr>
                <th class="formTitle">账户</th>
                <td class="formValue">
                    <input id="F_Account" name="F_Account" readonly type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">姓名</th>
                <td class="formValue">
                    <input id="F_RealName" name="F_RealName" readonly type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">密码</th>
                <td class="formValue">
                    <input id="F_UserPassword" name="F_UserPassword" type="password" class="form-control required" placeholder="请输入新密码" />
                </td>
            </tr>
        </table>
    </div>
</form>
