@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>平台介绍</title>
    <link href="~/Content/css/framework-font.css" rel="stylesheet" />
    <link href="~/Content/css/framework-ui.css" rel="stylesheet" />
    <script src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>
    <link href="~/Content/css/framework-theme.css" rel="stylesheet" />
    <link href="~/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/framework-theme.css" rel="stylesheet" />
    <link href="~/Content/css/framework-about.css" rel="stylesheet" />
</head>
<body>
    <div class="rows" style="margin-bottom: 1%; border: 1px solid #e6e6e6; overflow: hidden; padding-left: 1px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                NFine平台介绍
            </div>
            <div class="panel-body">
                <p>使用时请务必保留来源，请勿用于违反我国法律的web平台、如诈骗等非法平台网站。版权最终解释权归《NFine团队》所有</p>
                <p>NFine是一套基于ASP.NET MVC+EF6+Bootstrap开发出来的框架，源代码完全开源，可以帮助你解决C#.NET项目68%的重复工作，让开发人员远离加班！</p>
                <p>使用 Apache License 2.0 协议，采用主流框架，容易上手，简单易学，学习成本低。可完全实现二次开发、基本满足80%项目需求。</p>
                <p>可以帮助解决.NET项目70%的重复工作，让开发更多关注业务逻辑。既能快速提高开发效率，帮助公司节省人力成本，同时又不失灵活性。</p>
                <p>支持SQLServer、MySQL、Oracle、SQLite、Access 等多数据库类型。模块化设计，层次结构清晰。内置一系列企业信息管理的基础功能。</p>
                <p>操作权限控制精密细致，对所有管理链接都进行权限验证，可控制到导航菜单、功能按钮。</p>
                <p>数据权限（精细化数据权限控制，控制到行级，列表级，表单字段级，实现不同人看不同数据，不同人对同一个页面操作不同字段</p>
                <p>提高开发效率及质量。常用类封装，日志、缓存、验证、字典、文件、邮件、,Excel。等等，兼容目前最流行浏览器（IE8+、Chrome、Firefox、360浏览器）</p>
                <p>适用范围：可以开发OA、ERP、BPM、CRM、WMS、TMS、MIS、BI、电商平台后台、物流管理系统、快递管理系统、教务管理系统等各类管理软件。</p>
            </div>
        </div>
    </div>
    <div class="rows" style="margin-bottom: 1%; border: 1px solid #e6e6e6; overflow: hidden; padding-left: 1px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                NFine技术介绍
            </div>
            <div class="panel-body" style="overflow: hidden;">
                <div style="float: left; width: 50%;">
                    <p>1、前端技术</p>
                    <p>JS框架：jquery-2.1.1、Bootstrap.js、JQuery UI</p>
                    <p>CSS框架：Bootstrap v3.3.4（稳定是后台，UI方面根据需求自己升级改造吧）。</p>
                    <p>客户端验证：jQuery Validation Plugin 1.9.0。</p>
                    <p>在线编辑器：ckeditor、simditor</p>
                    <p>上传文件：Uploadify v3.2.1</p>
                    <p>动态页签：Jerichotab（自己改造）</p>
                    <p>数据表格：jqGrid、Bootstrap Talbe</p>
                    <p>对话框：layer-v2.3</p>
                    <p>下拉选择框：jQuery Select2</p>
                    <p>树结构控件：jQuery zTree、jQuery wdtree</p>
                    <p>页面布局：jquery.layout.js 1.4.4</p>
                    <p>图表插件：echarts、highcharts</p>
                    <p>日期控件： My97DatePicker</p>
                </div>
                <div style="float: left; width: 50%;">
                    <p>2、后端技术</p>
                    <p>核心框架：ASP.NET MVC5、WEB API</p>
                    <p>持久层框架：EntityFramework 6.0</p>
                    <p>定时计划任务：Quartz.Net组件</p>
                    <p>安全支持：过滤器、Sql注入、请求伪造</p>
                    <p>服务端验证：实体模型验证、自己封装Validator</p>
                    <p>缓存框架：微软自带Cache、Redis</p>
                    <p>日志管理：Log4net、登录日志、操作日志</p>
                    <p>工具类：NPOI、Newtonsoft.Json、验证码、丰富公共类似</p>
                </div>
            </div>
        </div>
    </div>
    <div class="rows" style="margin-bottom: 1%; border: 1px solid #e6e6e6; overflow: hidden; padding-left: 1px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                联系作者
            </div>
            <div class="panel-body">
                <p>
                    赞助作者：觉得对你有帮助，请她和一杯咖啡吧
                    <button type="button" onclick="dashangToggle()" class="btn btn-success btn-xs" style="margin-left: 10px; margin-top: -5px; padding-top: 2px;"><i class="fa fa-rmb" style="padding-right: 5px;"></i>我要打赏</button>
                </p>
                <p>
                    向我提问：欢迎向我提问，由于个人精力有限，并不是每一个问题都会去回答；邮箱地址：
                    <a href="#">NFine_2016@163.com</a>
                </p>
                <p>获取最新源代码：<a href="http://www.oschina.net/p/nfine" target="_blank">http://www.oschina.net/p/nfine</a>、作者QQ：2717247167、技术交流群：549652099</p>
            </div>
        </div>
    </div>
    <div class="weixin">
        <div style="margin-bottom: 5px;">
            扫描二维码，添加我的微信号
        </div>
        <img src="~/Content/img/weixin_nfine.png" style="width: 150px;" alt="微信号" />
    </div>
    <div class="contentpay">
        <div class="hide_box"></div>
        <div class="shang_box">
            <a class="shang_close" href="javascript:void(0)" onclick="dashangToggle()" title="关闭">
                <img src="~/Content/img/button_pm_close.png" alt="取消" /></a>
            <div class="shang_tit">
                <p>感谢您的支持，我会继续努力的!</p>
            </div>
            <div class="shang_payimg">
                <img src="~/Content/img/weipayimg.png" alt="扫码支持" title="扫一扫" />
            </div>
            <div class="pay_explain">扫码打赏，你说多少就多少</div>
            <div class="shang_payselect">
                <div class="pay_item checked" data-id="weipay">
                    <span class="radiobox"></span>
                    <span class="pay_logo">
                        <img src="~/Content/img/wechat.jpg" alt="微信" /></span>
                </div>
                <div class="pay_item" data-id="alipay">
                    <span class="radiobox"></span>
                    <span class="pay_logo">
                        <img src="~/Content/img/alipay.jpg" alt="支付宝" /></span>
                </div>
            </div>
            <div class="shang_info">
                <p>打开<span id="shang_pay_txt">支付宝</span>扫一扫，即可进行扫码打赏哦</p>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $(".pay_item").click(function () {
                $(this).addClass('checked').siblings('.pay_item').removeClass('checked');
                var dataid = $(this).attr('data-id');
                $(".shang_payimg img").attr("src", "/Content/img/" + dataid + "img.png");
                $("#shang_pay_txt").text(dataid == "alipay" ? "支付宝" : "微信");
            });
        });
        function dashangToggle() {
            $(".hide_box").fadeToggle();
            $(".shang_box").fadeToggle();
        }
    </script>
</body>
</html>
