@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        $.ajax({
            url: "/SystemManage/Module/GetFormJson",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                $("#form1").formSerialize(data);
                $("#form1").find('.form-control,select,input').attr('readonly', 'readonly');
                $("#form1").find('div.ckbox label').attr('for', '');
            }
        });
    });
    function initControl() {
        $("#F_Target").select2({
            minimumResultsForSearch: -1
        });
        $("#F_ParentId").bindSelect({
            url: "/SystemManage/Module/GetTreeSelectJson",
        });
    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">基本信息</a></li>
            <li role="presentation"><a href="#">扩展信息</a></li>
        </ul>
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">上级</th>
                    <td class="formValue">
                        <select id="F_ParentId" name="F_ParentId" class="form-control">
                            <option value="0">父节点</option>
                        </select>
                    </td>
                    <th class="formTitle">名称</th>
                    <td class="formValue">
                        <input id="F_FullName" name="F_FullName" type="text" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">连接</th>
                    <td class="formValue">
                        <input id="F_UrlAddress" name="F_UrlAddress" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">目标</th>
                    <td class="formValue">
                        <select id="F_Target" name="F_Target" class="form-control">
                            <option value="">==请选择==</option>
                            <option value="expand">expand</option>
                            <option value="iframe">iframe</option>
                            <option value="open">open</option>
                            <option value="blank">blank</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">图标</th>
                    <td class="formValue">
                        <div class="input-group">
                            <input id="F_Icon" name="F_Icon" type="text" class="form-control">
                            <span class="input-group-btn">
                                <a class="btn  btn-primary"><i class="fa fa-ellipsis-h"></i></a>
                            </span>
                        </div>
                    </td>
                    <th class="formTitle">排序</th>
                    <td class="formValue">
                        <input id="F_SortCode" name="F_SortCode" type="text" class="form-control required" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle" style="height: 35px;">选项</th>
                    <td class="formValue" colspan="3" style="padding-top: 1px;">
                        <div class="ckbox">
                            <input id="F_IsMenu" name="F_IsMenu" type="checkbox"><label for="F_IsMenu">菜单</label>
                        </div>
                        <div class="ckbox">
                            <input id="F_IsPublic" name="F_IsPublic" type="checkbox"><label for="F_IsPublic">公共</label>
                        </div>
                        <div class="ckbox">
                            <input id="F_IsExpand" name="F_IsExpand" type="checkbox"><label for="F_IsExpand">展开</label>
                        </div>
                        <div class="ckbox">
                            <input id="F_EnabledMark" name="F_EnabledMark" type="checkbox" checked="checked"><label for="F_EnabledMark">有效</label>
                        </div>

                        <div class="ckbox">
                            <input id="F_AllowEdit" name="F_AllowEdit" type="checkbox"><label for="F_AllowEdit">允许编辑</label>
                        </div>
                        <div class="ckbox">
                            <input id="F_AllowDelete" name="F_AllowDelete" type="checkbox"><label for="F_AllowDelete">允许删除</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle" valign="top" style="padding-top: 5px;">介绍
                    </th>
                    <td class="formValue" colspan="3">
                        <textarea id="F_Description" name="F_Description" class="form-control" style="height: 100px;"></textarea>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">创建人员</th>
                    <td class="formValue">
                        <input id="F_CreatorUserId" name="F_CreatorUserId" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">创建时间</th>
                    <td class="formValue">
                        <input id="F_CreatorTime" name="F_CreatorTime" type="text" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">修改人员</th>
                    <td class="formValue">
                        <input id="F_LastModifyUserId" name="F_LastModifyUserId" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">修改时间</th>
                    <td class="formValue">
                        <input id="F_LastModifyTime" name="F_LastModifyTime" type="text" class="form-control" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
